@page "/About"

<PageTitle>About</PageTitle>

@*<MudText Typo="Typo.h3" GutterBottom="true">Counter</MudText>
<MudText Class="mb-4">Current count: @currentCount</MudText>
<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="IncrementCount">Click me</MudButton>*@
<h1>About</h1> <br>
<p>
    This is a Blazor site users will be able use to create and store pokemon teams. As a stretch goal, users will be able to login via a username and password, but at the very least the site will communicate with the pokeapi(https://pokeapi.co/) to pull pokemon data, allowing users to use that data to create a team of six pokemon, including each pokemon's stats and moves, and each set of six will be saved to a sql database.
    <br> <br>
    Stretch goals: <br>
    <ul>
        <li>User authentication</li>
        <li>The ability to edit teams one has already made.</li>
        <li>Create unit tests for the app</li>
    </ul>

    <br>  Code Louisville Features Incorporated: <br> <br>
    <ol>
        <li>Connect to an external/3rd party API and read data into your app</li>
        <li>Read data from an external file, such as text, JSON, CSV, etc and use that data in your application</li>
        <li>Create a dictionary or list, populate it with several values, retrieve at least one value, and use it in your program</li>
        <li>Create an additional class which inherits one or more properties from its parent</li>
        <li>(Maybe) calculate and display data based on an external factor (ex: get the current date, and display how many days remaining until some event)</li>
        <li>(Maybe) create 3 or more unit tests for your application</li>
    </ol>

</p>


@code {
    //private int currentCount = 0;

    //private void IncrementCount()
    //{
    //    currentCount++;
    //}
}
